@page
@model SimpleStudentManageManagementSystem.Pages.Students.IndexModel
@{


<br/>
<h2>List of Students</h2>
<a class="btn btn-primary btn-sm" href="/Students/Create">New Student</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Matric No</th>
            <th>Level</th>
            <th>Program</th>
            <th>Department</th>
            <th>College</th>
            <th>Date Added</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listStudents)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.matric_no</td>
                <td>@item.level</td>
                <td>@item.program</td>
                <td>@item.department</td>
                <td>@item.college</td>
                <td>@item.date_added</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Students/Edit?id=@item.id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Students/Delete?id=@item.id">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>
}